@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/css/home.css")">
</head>
<body>
    @section Header {
        <div>Компания-холдинг</div>
    }
    <div class="button-container">
        <a href="@Url.Action("Login", "Account")"></a>
        <a href="@Url.Action("Register", "Account")"></a>
    </div>
    @section Footer {
        <div></div>
    }
</body>
</html>
