<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/header-footer.css"> 
</head>
<body>

    <div class="header-container">
        @RenderSection("Header", required: false)
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer-container">
        @RenderSection("Footer", required: false)
    </div>

</body>
</html>
